<div class="container">
    <div class="jumbotron">
        <h1 class="display-4"> <i class="fas fa-newspaper"></i> Mongo Scraper</h1>
        <p class="lead">These are your saved articles!</p>
        <hr class="my-4">
        <p>These articles are scraped from the New York Times website using Cheerio.</p>

    </div>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <ul class="articles">
                {{#each articles}}
                <li>
                    <h3>{{this.title}}</h3>
                    <p>{{this.content}}</p>
                    <button data-id={{this._id}} class="btn btn-primary remove float-right"><i
                            class="fas fa-minus-circle"></i> Remove
                        Article</button>
                </li>
                {{/each}}
            </ul>

        </div>
    </div>
</div>