<div class="container">
    <div class="jumbotron">
        <h1 class="display-4"> <i class='fas fa-database'></i> Mongo Scraper</h1>
        <p class="lead">These are your saved articles!</p>
        <hr class="my-4">
        <p>These articles are scraped from Rising Stack website using Cheerio.</p>

    </div>
    <div class="row justify-content-center">
        <div class="col-md-10">
            <ul>
                {{#each articles}}
                <li>
                    <h3>{{this.title}}</h3>
                    <p>{{this.content}}</p>
                    <a href={{this.link}}>{{this.link}}</a>
                    <button id="remove">Remove Article</button>
                </li>
                {{/each}}
            </ul>

        </div>
    </div>
</div>