<li>
    {{burger_name}}

    <button class="burger" data-id="{{id}}" data-devoured="{{devoured}}">

        {{#if devoured}} <i class='fas fa-plus-circle'></i> Make Another! {{else}} <i class='fas fa-utensils'></i>
        Devour It! {{/if}}
    </button>
</li>